<script type="text/ng-template" id="/home.html">
<div class="page-header">
	<h1>Flapper News</h1>
</div>

<div ng-repeat="post in posts | orderBy: '-upvotes'">
	<span class="glyphicon glyphicon-thumbs-up" ng-click="upvote(post)"></span>
	{{post.upvotes}}
	<span ng-show="post.author.username">
		posted by <a>{{post.author.username}}</a> |
	</span>
	<span style="font-size:20px; margin-left:10px;">
		<a href="https://www.youtube.com/watch?v={{post.link}}">
		<img ng-show="post.link" ng-src="http://img.youtube.com/vi/{{post.link}}/default.jpg"/>
			{{post.title}}
		</a>
		<span>
			<a style="font-size:0.6em" href="#/posts/{{post._id}}"> | Go to Comments</a>
		</span>
	</span>
	<br/><br/>
</div>
<div ng-hide="isLoggedIn()">
	<h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
</div>
<form ng-submit="addPost()" ng-show="isLoggedIn()"
style="margin-top:30px;">
	<h3>Add a new post</h3>
	
	<div class="form-group">
		<input type="text"
		class="form-control"
		placeholder="Title"
		ng-model="title"></input>
	</div>
	<div class="form-group">
		<input type="text"
		class="form-control"
		placeholder="Description"
		ng-model="description"></input>
	</div>
	<div class="form-group">
		<input type="text"
		class="form-control"
		placeholder="Link"
		ng-model="link"></input>
	</div>
	<button type="submit" class="btn btn-primary">Post</button>
</form>
</script>